<div class="container">

    <div class="d-flex mb-3">
        <h2>Characters</h2>
        <button class="btn btn-primary ml-auto" routerLink="new">New character</button>
    </div>


    <table *ngIf="characters; else loader" class="table table-striped">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Level
                </th>
                <th>
                    Class
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr app-character-list-item *ngFor="let char of characters" [character]="char"> </tr>
        </tbody>
    </table>

    <ng-template #loader>
        <app-loader [size]="'150px'"></app-loader>
    </ng-template>
</div>