.card{
    margin: 10px;
}

.card-img-top{
    height: 10rem;
    object-fit: cover;
}

.bg-secondary{
    background-color: #d7d9dc !important;
}

.bg-success{
    background-color: #a6dbb2 !important;
}

.backdrop{
    position: absolute;
    background:black;
    opacity: 40%;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius:4px;
}

.spinner-border{
    position: absolute;
    top:50%;
    left: 50%;
    height: 3rem;
    width: 3rem;;
    margin-left:  -1.5rem;
    margin-top:  -1.5rem;
}

