<label for="{{quest._id}}">
    <div class="card " [ngClass]="{'bg-success': quest.completed, 'bg-secondary': !quest.completed}" style="width: 14rem;">
        <img class="card-img-top" src="{{quest.image}}">
        <div class="card-body">
            <label class="card-text">
                <input id="{{quest._id}}" type="checkbox" (change)="questStateChanged(quest._id, $event)"
                    [checked]="quest.completed" [disabled]="loading" />
                {{quest.name}}
            </label>
        </div>
        <div class="loader-container" *ngIf="loading">
            <div class="backdrop"></div>
            <div class="spinner-border text-primary" role="status" >
                <span class="sr-only">Loading...</span>
            </div>
        </div>
       
    </div>
</label>