<div class="container">

    <button class="btn btn-primary bottom-right-floating-button" routerLink="new">New task</button>

    <div class="d-flex mb-3">
        <h2>Tasks</h2>    
    </div>

    <table *ngIf="(taskStateStatus$ | async) == 'success'; else loader" class="table table-striped">
        <thead>
            <tr>
                <th>
                    Task
                </th>
                <th>
                    Type
                </th>
                <th>
                    Repeats
                </th>
                <th>
                    Default
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr app-task-list-item *ngFor="let task of tasks$ | async" [task]="task"></tr>
        </tbody>
    </table>

    <ng-template #loader>
        <app-loader [size]="'150px'"></app-loader>
    </ng-template>
</div>