<div class="container" *ngIf="character; else loader">
    <form #classForm="ngForm" (ngSubmit)="save()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Character name"
                [(ngModel)]="character.name" required />
        </div>

        <div class="float-right">
            <button type="button" class="btn btn-secondary" routerLink="/characters">Cancel</button>
            <button type="submit" class="btn btn-success ml-2" [disabled]="classForm.form.invalid">Save</button>
        </div>
    </form>
</div>
<ng-template #loader>
    <app-loader [size]="'150px'"></app-loader>
</ng-template>