<div class="container">
    <h1>Leveling</h1>

    <h3>Passive</h3>
    <input id="link-skills" type="checkbox" /><label for="link-skills">Link skills</label><br>
    <input id="legion-grid" type="checkbox" /><label for="legion-grid">Legion grid</label><br>
    <input id="hyper-stats" type="checkbox" /><label for="hyper-stats">Hyper stats</label><br>
    <input id="guild-skill" type="checkbox" /><label for="guild-skill">101 to 200 passive guild skill</label><br>
    <input id="familiar" type="checkbox" /><label for="familiar">Drop/Meso drop Familiars</label><br>

    <h3>Buffs</h3>
    <input id="2x-coupon" type="checkbox" /><label for="2x-coupon">2x coupon</label><br>
    <p> - If between level 100 and 180, use legion growth potion </p>
    <input id="exp-accumulation" type="checkbox" /><label for="exp-accumulation">EXP accumulation potion</label><br>
    <input id="monster-park" type="checkbox" /><label for="monster-park">Monster park boost potions</label><br>
    <input id="legion-attack" type="checkbox" /><label for="legion-attack">Legion attack buff</label><br>
    <input id="guild-attack" type="checkbox" /><label for="guild-attack">Guild attack buff</label><br>
    <input id="mvp-damage-coupon" type="checkbox" /><label for="mvp-damage-coupon">MVP damage coupon</label><br>
    
    <h3>Equip</h3>
    <input id="pendant-of-the-spirit" type="checkbox" /><label for="pendant-of-the-spirit">Pendant of the spirit</label><br>
    <input id="wild-totem" type="checkbox" /><label for="wild-totem">Wild totem</label>
    <input id="drop-items" type="checkbox" /><label for="drop-items">Drop/Meso drop items</label>
</div>