<div class="container-fluid" *ngIf="(charactersStatus$ | async) == 'success' ; else loader">
    <div class="row" *ngIf="characters$ | async as characters">
        <div class="col-2 sidebar pt-2">
            <nav>
                <ul ngbNav class="nav flex-column nav-pills">
                    <li *ngFor="let character of characters" ngbNavItem class="nav-item">
                        <a [routerLink]="character._id" [routerLinkActive]="['active']" class="nav-link">{{ character.name }}</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col bg-light">
            <router-outlet></router-outlet>

            <h3 *ngIf="characters?.length == 0" class="m-2"> No characters registered.</h3>
        </div>
    </div>
</div>
<ng-template #loader>
    <app-loader [size]="'150px'"></app-loader>
</ng-template>