<div class="container">

    <div class="d-flex mb-3">
        <h2>Tasks</h2>
        <button class="btn btn-primary ml-auto" routerLink="new">New task</button>
    </div>

    <table *ngIf="tasks; else loader" class="table table-striped">
        <thead>
            <tr>
                <th>
                    Task
                </th>
                <th>
                    Type
                </th>
                <th>
                    Repeats
                </th>
                <th>
                    Default
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr app-task-list-item [task]="task" *ngFor="let task of tasks"></tr>
        </tbody>
    </table>

    <ng-template #loader>
        <app-loader [size]="'150px'"></app-loader>
    </ng-template>
</div>