<div class="content">

    <button routerLink="new">Create task</button>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Task
                </th>
                <th>
                    Type
                </th>
                <th>
                    Repeats
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <td>
                    {{ task.name }}
                </td>
                <td>
                    {{ task.type }}
                </td>
                <td>
                    {{ task.repeats }}
                </td>
                <td>
                    <a [routerLink]="['edit',task._id]">Edit</a> | <a role="button" (click)="delete(task._id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>