<div class="card mt-4">
    <div class="card-body p-2">
        <div>
            <label role="button" class="m-2" (click)="collapse.toggle()">
                <b class="mr-1">{{ label }}</b>
                <i-bs *ngIf="isCollapsed" name="chevron-down"></i-bs>
                <i-bs *ngIf="!isCollapsed" name="chevron-up"></i-bs>
            </label>
            <div class="float-right">

                <a class="btn btn-light" role="button" *ngIf="!isCollapsed" (click)="toggleEditMode()">
                    <i-bs *ngIf="!editMode && !saving" name="pencil-square"></i-bs>
                    <i-bs *ngIf="editMode && !saving" class="text-success" name="check-circle-fill"></i-bs>
                    <app-loader [size]="'25px'" *ngIf="saving"></app-loader>
                </a>
            </div>
        </div>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <hr>
            <div *ngIf="tasks && completedTasks; else loader">
                <table class="table table-hover mt-1">
                    <!-- not editing -->
                    <tbody *ngIf="!editMode">
                        <ng-container *ngFor="let task of tasks | filter:{ complete: false }">
                            <tr app-character-task-list-item *ngIf="!task.hidden || editMode" class="task-row"
                                [task]="task" [character]="character"
                                [editMode]="editMode" (onTaskStateChange)="onTaskStateChange($event)"></tr>
                        </ng-container>
                    </tbody>
                    <tbody *ngIf="!editMode" class="complete-table">
                        <ng-container *ngFor="let task of tasks | filter:{ complete: true }">
                            <tr app-character-task-list-item *ngIf="!task.hidden || editMode" class="task-row"
                                [task]="task" [character]="character"
                                [editMode]="editMode" (onTaskStateChange)="onTaskStateChange($event)"></tr>
                        </ng-container>
                    </tbody>

                    <!-- editing -->
                    <tbody *ngIf="editMode" [class.dragging]="this.draggingIndex">
                        <ng-container *ngFor="let task of tasks; let index = index">
                                <tr app-character-task-list-item *ngIf="!task.hidden || editMode" class="task-row draggable"
                                    [task]="task" 
                                    [character]="character"
                                    [editMode]="editMode"
                                    [draggable]="true"
                                    (dragstart)="onDragStart(index)"
                                    (dragenter)="onDragEnter(index)"
                                    (dragend)="onDragEnd()">
                                </tr>
                            
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
        <ng-template #loader>
            <app-loader [size]="'150px'"></app-loader>
        </ng-template>
    </div>
</div>