<div class="container">
    <div *ngIf="bosses; else spinner">
        <h2>
            Dailies
        </h2>
        <app-boss-list [bosses]="dailyBosses"></app-boss-list>
        <h2>
            Weeklies
        </h2>
        <app-boss-list [bosses]="weeklyBosses"></app-boss-list>
    </div>
    <ng-template #spinner>
        <div class="d-flex justify-content-center text-primary">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-template>
</div>