<div class="container">
    <div *ngIf="quests; else spinner">
        <h2>
            Dailies
        </h2>
        <app-quest-list [quests]="dailyQuests"></app-quest-list>
        <h2>
            Weeklies
        </h2>
        <app-quest-list [quests]="weeklyQuests"></app-quest-list>
    </div>
    <ng-template #spinner>
        <div class="d-flex justify-content-center text-primary">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-template>
</div>