<div *ngIf="!editMode" class="overlay" (click)="changeTaskState(character._id,task._id, !isCompleted(task._id))"></div>

<td class="task-image-td"><img class="task-image" src="{{task.image}}" /> </td>
<td> {{ task.name }} </td>

<td *ngIf="!editMode" class="checkbox-td">
    <input *ngIf="!saving" type="checkbox" class="" [checked]="isCompleted(task._id)" />
    <app-loader *ngIf="saving" [size]="'25px'"></app-loader>
</td>

<td *ngIf="editMode" class="text-right p-1">
    <a class="btn btn-light" role="button" (click)="changePriority(-1)">
        <i-bs name="chevron-up"></i-bs>
    </a>

    <a class="btn btn-light" role="button" (click)="changePriority(1)">
        <i-bs name="chevron-down"></i-bs>
    </a>

    <a class="btn btn-light" role="button" (click)="toggleHiddenState()">
        <i-bs class="text-danger" *ngIf="task.hidden" name="eye-slash-fill"></i-bs>
        <i-bs *ngIf="!task.hidden" name="eye-fill"></i-bs>
    </a>
</td>