
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Task name" [(ngModel)]="task.name" />
    </div>
    <div class="form-group">
        <label for="type">Type</label>
        <select class="form-select" [(ngModel)]="task.type" name="type">
            <option *ngFor="let type of taskTypes | enumToArray" value="{{type.index}}"> {{type.name}} </option>
        </select>
    </div>
</form>

<p>
    {{task.name}}
    {{taskTypes | enumToArray}}
</p>