<form>

    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Task name" [(ngModel)]="task.name" />
    <br>
    <label for="type">Type</label>
    <select [(ngModel)]="task.type" name="type">
        <option *ngFor="let type of taskTypeEnum | enumToArray" value="{{type.value}}"
            [selected]="type.value == task.type"> {{type.name}} </option>
    </select>

    <br>

    <label for="type">Repeats</label>
    <select [(ngModel)]="task.repeats" name="repeats">
        <option *ngFor="let repeats of taskRepeatsEnum | enumToArray" [ngValue]="repeats.value"> {{repeats.name}}
        </option>
    </select>

    <br>

    <div *ngIf="task.type == taskTypeEnum.Boss">
        <label for="crystalValue">Crystal value</label>
        <input type="number" id="crystalValue" name="crystalValue" placeholder="Crystal value"
            [(ngModel)]="task.crystalValue" />
        <br>
    </div>

    <label for="image">Image</label>
    <input type="text" id="image" name="image" placeholder="Image path" [(ngModel)]="task.image" />
    <br>
    <button routerLink="/tasks">Cancel</button><button (click)="save()">Save</button>
</form>