.sidebar {
    position: sticky;
    top: 3.5rem;
    z-index: 1000;
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.sidebar a {
    color: black;
}

.nav-link.active {
    background-color: rgb(0, 0, 0, 0.1) !important;
}